header {
  width: 100%;
  height: 240px;
  background-color: #d07236;

  .marge-top {
    margin-top: 60px;
  }
}

.slideryo {
  width: 100%;
  height: 500px;
  background-color: #449de6;

  h1{
    font-size: 28px;
    font-weight: 700;
  }

  h2{
    font-size: 16px;
    font-weight: 700;
  }
}

#galerie {

  width: 100%;
  height: auto;
  background-color: #38dd61;

  .documentsections {
    position: relative;
    padding-top: rem-calc(65);
    padding-bottom: rem-calc(185);
  }

  figure {
    margin: 0;
    position: relative;
    margin-bottom: 20px;
  }

  img {
    min-width: 100%;
  }

  figcaption {
    position: absolute;
    bottom: 10px;
    left: 40px;
    text-transform: uppercase;
  }
}

footer {
  background-color: #909090;
}
