<footer>
  <div class="row">
    <div class="large-4 medium-6 small-12 columns"><p>Inscrivez-vous à la newsletter des musées !</p></div>
      <form class="large-4 medium-6 small-12 columns" action="" method="post">
        <input type="text" name="email" value="E-MAIL">
      </form>
        <div class="large-2 medium-6 small-12 columns"><a href="#">Publications des musées</a></div>
          <div class="large-2 medium-6 small-12 columns"><a href="#">Espace presse</a></div>
  </div>
    <div class="row">
      <ul class="menu">
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Mention légales</a></li>
      </ul>
    </div>
</footer>
