<footer>
  <div class="row">
    <div class="large-4 medium-6 small-12 columns"><h4>Inscrivez-vous à la newsletter des musées !</h4></div>
    <form class="large-4 medium-6 small-12 columns" action="">
      <input type="text" name="name" value="E-MAIL">
    </form>
    <div class="large-2 medium-6 small-12 columns"><h4>Publications des musées</h4></div>
    <div class="large-2 medium-6 small-12 columns"><h4>Espace presse</h4></div>
  </div>
  <div class="row">
  <ul class="menu">
    <li><a href="#">Accueil</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Plan du site</a></li>
    <li><a href="#">Mention légales</a></li>
  </ul>
</div>
</footer>
