<section class="documentsections" id="galerie">
  <div class="row large-up-3 medium-up-2 small-up-1">
    <figure class="columns"><a href="#"><img class="img_color" src="../assets/img/image_1.png" alt="Image_1"><figcaption>Aubette 1928</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_2.png" alt="Image_2"><figcaption>Cabinet des estampes &amp; des dessins</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_3.png" alt="Image_3"><figcaption>Musée Alsacien</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_4.png" alt="Image_4"><figcaption>Musée Archéologique</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_5.png" alt="Image_5"><figcaption>Musée des arts décoratifs</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_6.png" alt="Image_6"><figcaption>Musée d'art moderne &amp; contemporain</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_7.png" alt="Image_7"><figcaption>Musée des beaux-arts</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_8.png" alt="Image_8"><figcaption>Musée historique</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_9.png" alt="Image_9"><figcaption>Musée de l'oeuvre-notre-dame</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_10.png" alt="Image_10"><figcaption>Musée Tomi Ungerer</figcaption></a></figure>
    <figure class="columns"><a href="#"><img src="../assets/img/image_11.png" alt="Image_11"><figcaption>Musée zoologique</figcaption></a></figure>
  </div>
</section>
